database_user: USER_NAME
database_password: USER_PASS

database_host: localhost
database_root_user: ROOT_USERNAME
database_root_password: ROOT_PASS
database_name: realize

auth_config:
  'DB_URL': 'postgresql+psycopg2://database_user:database_password@localhost:5432/realize'
  'SECRET_KEY': SECRET_KEY
  'SECURITY_PASSWORD_SALT': SALT_KEY
  'OAUTH_SECRETS':
    github:
      consumer_key: CONSUMER_KEY
      consumer_secret: CONSUMER_SECRET

env_config:
  'GOOGLE_ANALYTICS_KEY': ''
